@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "nitti-grotesk-light", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  font-style: normal;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 32px;
  line-height: 48px;
  font-weight: 900;
  font-family: mundial, sans-serif;
  font-style: bold;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 48px;
  line-height: 56px;
  font-weight: 900;
}

h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
}

.navbar {
  font-family: auger-mono, monospace;
}

.headername {
  font-family: unibody-8-new, sans-serif;
}

.atkinson-hyperlegible-regular {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.atkinson-hyperlegible-bold {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.atkinson-hyperlegible-regular-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.atkinson-hyperlegible-bold-italic {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 700;
  font-style: italic;
}
